*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .navbar,footer{
    background-color: #1d3551;
 }
 .center{
    text-align: center;
 }
 #btn{
    margin-top: 6px;
    padding: 8px;
    margin-bottom: 10px;
 }
 #colo{
    background-color: #1d3551;
    color: white;
 }
 
 .clear{
    float: right;
    margin-right: 250px;
    margin-top: 8px;
 }
 #button1 button{
 width: 41%;
 }